body {
	background-image: url('https://pixabay.com/get/gfe6b1155e4025df79750a8316e9b2ad6de7379116911569079c8822553a6a44048c0d5c0a9116c55f7b704d760a4ecc219b9c8026b28ec80273fd2734dc28a6bb36a5c0d8d25a73ac2c6fa2649e8c906_1920.jpg');
	background-size: cover;
	background-position: center;
}

.form-wrapper {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.input-group {
	flex-basis: calc(50% - 10px);
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type=text], input[type=email], input[type=tel], input[type=number], input[type=datetime-local] {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #f9f9f9;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button[type=submit] {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s;
}

button[type=submit]:hover {
	background-color: #3e8e41;
}
