.menu .menu-btns{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.menu .heading{
	margin-top: 4rem;
}

.menu .menu-btns button{
  display: inline-block;
  font-size: 2rem;
  background: var(--black);
  border: 1.5px solid transparent;
  text-decoration: none;
  color: var(--white);
  padding: 0.7rem 1.5rem;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.menu .menu-btns button.active,
.menu .menu-btns button:hover{
  color: var(--white);
  background-color: var(--yellow);
  cursor: pointer;
}

.menu .menu-gallery{
  display: none;
}

.menu .menu-gallery.active{
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}

.menu-item{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.menu-item img{
  height: 12rem;
  width: 12rem;
  object-fit: cover;
}

.menu-item .content{
  width: 100%;
}

.menu-item .intro{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 0.2rem dashed rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.menu-item .intro h3{
  color: var(--yellow);
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.menu-item .intro .price{
  font-size: 2rem;
  color: var(--black);
}

.menu-item .text p{
  color: var(--grey);
  font-size: 1.6rem;
}
